appdirs==1.4.4
asgiref==3.2.10
bottle==0.12.18
canvas==0.2
certifi==2020.6.20
click==7.1.2
colorama==0.4.3
cycler==0.10.0
distlib==0.3.1
Django==3.1
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.1
numpy==1.19.1
pdfgen==1.0.5
Pillow==7.2.0
pyee==7.0.3
pygame==1.9.6
PyMySQL==0.10.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyppeteer==0.2.2
python-dateutil==2.8.1
pytz==2020.1
qrcode==6.1
reportlab==3.5.49
six==1.15.0
sql==0.4.0
sqlparse==0.3.1
syncasync==20180812
tk==0.1.0
tqdm==4.48.2
urllib3==1.25.10
virtualenv==20.0.31
websockets==8.1
Werkzeug==1.0.1
